@charset "utf-8";
/* CSS Document */
/*2.21em=35px=1.82%
19.2px=1%
15px=1em
1px=0.05%
*/


.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  }
.callbacks_container>ul>li>img{
	width: 1200px;
	height: 600px;
}
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("ResponsiveSlides.js-master/demo/themes/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

body{
	font-family: sans-serif;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 15px;
	background-color: #f2f2f2;
}
.main{
	//margin-left: 15.6%;
	//min-width: 1246px;
	background-color: #f2f2f2;
	padding: 1.85%;
}
.layout{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	padding: 1.85%;
}
.content{
	//max-width: 1200px;
	margin: 0 auto;
	//background-color: red;
}
.Logo{
	float: left;
	//display: inline-block;
	width: 595px;
	height: 62px;
}
/*.Category{
	width: 283px;
	height: 45px;
}*/
/*.Search{
	width: 65px;
	height: auto;
}*/
form{
	float: left;
	margin-top: 10px;
    vertical-align: top;
	width: 40%;
	//min-width: 180px;
	font-size: 0;
	padding-left: 1%;
}
form>*{
	height: 45px;
	border: none;
	vertical-align: middle;
	font-size: 15px;
}
form>input[type="text"]{
	box-sizing: border-box;
	border: 1px solid #969696;
	width: 65%;
}
input[type="image"]{
	//background-position-x: left;
	//width: 15%;
	height: 45px;
	background: green;
}
select{
	width: 283px;
	height: 45px;
	background-image: url(images\category283x45.svg);
	background-position: right bottom;
}
select>option{
	//background: blue;
}
.menu{
	text-align: center;
}
.menu>span>ul{
	padding: 0;
}
.menu>span>ul>li{
	text-align: center;
	display: inline-block;
	margin: 1.85% 0 1.85% 0.719em;
}
.menu>span>ul>li>a{
	color: #969696;
	text-decoration: none;
	margin: auto;
}
.menu>span>ul>li>a>img{
	height: 2em;
	vertical-align: middle;
	margin: auto;
}
.menu>span>ul>li>a>p{
	display: inline-block;
	padding-left: 0.5em;
	margin: auto;
}
.squares{
  //background-color: blue;
	margin: 0 auto;
	font-size: 0px;
	list-style: none;
	padding: 0 0 0 0;
	text-align: center;
}
.squares>li>a>{
	display: inline-block;

}
.card{
	background: red;
	//background-image: url(images\card217x217.svg);
	width: 217px;
	height: 217px;
}
.item{
	background: blue;
	//background-image: url(images\toilet\olympia-s-type.png);
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 0 auto;
}
.squares>li{
	//max-width: 273px;
	width: 18.5%;
	display: inline-block;
	padding: 1.85% 1.85% 1.85% 0;
}
.squares>li:last-child{
	padding-right: 0;
}
.footer{
	background-color: #f2f2f2;
	padding-top: 8%;
}
.social{
	display: inline-block;
	//background: blue;
	width: 25%;
	margin: 2%;
	//padding: 1%;
	//margin: 0;
	min-width: 180px;

}
.social>p{
	color: #969696;
	padding-left: 2%;
	//margin: 0 0 0 1.85%;
}
.social>ul{
	padding: 0;
	//width: 20%;
	//background: white;
	margin: 0;
	font-size: 0;
}
.social>ul>li{
	display: inline-block;
	width: 19%;
	padding: 3%;
	//background: red;
}
.contacts{
	display: inline-block;
	//width: 50%;
	list-style: none;
	//background: blue;
	//margin: 0;
	vertical-align:bottom;
	//min-width: 360px;
	padding-left: 0;
	margin-left: 2%;
}
.contacts img{
	width: 4%;
	min-width: 20px;
}
.contacts a{
	//background: white;
	//vertical-align: bottom;
	//margin-bottom: -30px;
	margin-right: 1em;
}
.contacts p{
	display: inline-block;
	//padding-left: 1em;
	color: #969696;
	margin: 0;
	//background: white;
	vertical-align: top;
}
.contacts li{
	//display: inline-block;
	line-height: 1.5em;
	margin: 0.15em;
	//padding: 0;
	//background: white;
}



